﻿@model List<WebApplication1.Models.Post>
@{
    ViewBag.Title = "Home Page";
}


    @foreach(var item in Model)
    {
        <h4>Id: @item.ID </h4>
        <h4>Title: @item.Name </h4>
        <h4>Description: @item.Description </h4>
        <h4>Id @item.ID </h4>
        <a href="/post/editpost/@item.ID">Edit</a>
    }
